<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DownloadTool.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D574F0FB1F57F08100524B0A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D574F1141F57F08100524B0A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D574F11F1F57F08100524B0A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
